<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fightagainstfake">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FightAgainstFake">
        <activity
            android:name=".admin_package.complaints_details"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".complaints.complaintAdd"
            android:exported="true" />
        <activity
            android:name=".admin_package.dashboard"
            android:exported="true"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>





        <activity
            android:name=".authentication.Forgot_Password"
            android:exported="true" />
        <activity
            android:name=".authentication.Startscreen"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Posts.Activities.FullImageView"
            android:exported="true" />
        <activity
            android:name=".Posts.Activities.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".Posts.AddPosts"
            android:exported="true" />
        <activity
            android:name=".Posts.Activities.AdvertisementPosts"
            android:exported="true" />
        <activity
            android:name=".Posts.Activities.NormalPosts"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".authentication.otpScreen"
            android:exported="true" />
        <activity
            android:name=".authentication.signUp"
            android:exported="true" />
        <activity
            android:name=".authentication.loginScreen"
            android:exported="true" />
    </application>

</manifest>